# This .gitignore is appropriate for Jekyll repositories

# Basic Jekyll gitignores
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Additional Ruby/bundler ignore for when you run: bundle install
/vendor
.bundle/

# Gemfile.lock can be ignored for libraries, 
# but should be committed for applications
Gemfile.lock
