<header>
  <div class="container">
    <h1><a href="{{ '/' | relative_url }}" style="color: white; text-decoration: none;">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </div>
</header>

<nav>
  <div class="container">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/rivista/' | relative_url }}">Rivista</a></li>
      <li><a href="{{ '/archivio/' | relative_url }}">Archivio</a></li>
      <li><a href="{{ '/posts/' | relative_url }}">News</a></li>
      <li><a href="{{ '/admin/' | relative_url }}">CMS</a></li>
    </ul>
  </div>
</nav>