---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% if page.author %}<p>di {{ page.author }}</p>{% endif %}
  </header>
  
  {{ content }}
  
  {% if page.tags %}
  <div class="tags">
    <p>Tag: 
    {% for tag in page.tags %}
      <span class="tag">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    </p>
  </div>
  {% endif %}
</article>